@{
    ViewData["Title"] = "Home Page";
}

@model ProjectListViewModel

<div class="text-center">
    <header>
        <h1>Here are the available books</h1>
    </header>
</div>

@foreach (var x in Model.Projects)
{
    <partial name="ProjectSummary" model="x"/>
}

<!--This is the div that creates the page numbers-->
<div page-model="@Model.PageInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
     page-url-category="@Model.Type" class="btn-group pull-right m-1">
</div>